@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b2b2b;
  color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', monospace;
}

.backwards {
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.App {
  width: 81.25%;
  margin: auto;
}

textarea {
  resize: none;
  overflow: auto;
  background-color: #2b2b2b;
  color: #ddd;
  height: 70vh;
  border: 1px solid rgb(52 52 52);
  outline: none;
  padding: 12px;
  border-radius: 2.12px;
  font-size: 11.5px;
}

.pastepage {
  display: flex;
  flex-direction: column;
}

td {
  padding: 10px 8px;
}

input {
  background-color: transparent;
  outline: none;
  padding: 7.75px;
  width: 320px;
  border-radius: 1.5px;
  border: 1px solid rgb(52 52 52);
  font-size: 11.5px;
  color: #ddd;
}

.bg-dark {
  width: 80%;
  background-color: #252525;
  padding: 18px;
  margin-bottom: 25px;
  border-radius: 10px;
  margin-top: 18px;
  margin-bottom: 22px;
}

@media screen and (max-width:965px) {
  .App {
    width: 100%;
    border: none;
  }

  .bg-dark {
    width: 92% !important;
    padding: 0;
  }
}

@media screen and (max-width:545px) {
  .optional-box {
    display: flex;
    flex-direction: column !important;
    height: 400px !important;
  }

  .left,
  .right {
    width: 100% !important;
    border: none !important;

  }
}

@media screen and (max-width:494px) {
  .hide {
    display: none;
  }
}